<h1 class="pageHeading" style="text-align:center;">PRICING</h1>
<h2 class="secondHeading" style="text-align:center;">WEDDINGS / GRADUATIONS / PERSONAL SHOOTS</h2>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 text-align-center" style="text-align:center;">
			<h3>Package One</h3>
			<ul>
				<li>1 person</li>
				<li>15 minute session</li>
				<li>10 digital images</li>
				<li>photo release</li>
			</ul>
			<h3>150</h3>
		</div> <!-- col -->
		<div class="col-12 col-md-6" style="text-align:center;">
			<h3>Package Two</h3>
			<ul>
				<li>1-2 person(s)</li>
				<li>20 minute session</li>
				<li>20 digital images</li>
				<li>photo release</li>
				<li>facebook cover</li>
			</ul>
			<h3>250</h3>
		</div> <!-- col -->
		<div class="col-12 col-md-6" style="text-align:center;">
			<h3>Package Three</h3>
			<ul>
				<li>1-3 person(s)</li>
				<li>30 minute session</li>
				<li>30 digital images</li>
				<li>photo release</li>
			</ul>
			<h3>350</h3>
		</div> <!-- col -->
		<div class="col-12 col-md-6" style="text-align:center;">
			<h3>Package Four</h3>
			<ul>
				<li>1-6 person(s)</li>
				<li>45 minute session</li>
				<li>30 digital images</li>
				<li>photo release</li>
				<li>facebook cover</li>
			</ul>
			<h3>450</h3>
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container-->