<h1 class="pageHeading" style="text-align:center;">PORTFOLIO</h1>
<div class="container">
	<div class="row" style="text-align:center;position:relative;">
		<div class="col-12">
			<div class="colWrap">
			 <div class="imgWrap" style="position:absolute; width:100%;">
			   <img src="photos/Trale_Drew1.jpg" class="img" style="height:100%;">
			 </div>
			 <div class="portfolioTitle">
				<h1>Graduations</h1>
			 </div>
		  </div> <!-- col wrap -->
		</div> <!-- col -->
        <div class="col-12">
      <div class="colWrap">
       <div class="imgWrap" style="position:absolute; width:100%;">
         <img src="photos/Trale_Dunbar5.jpg" class="img" style="height:100%;">
       </div>
       <div class="portfolioTitle">
        <h1>Reunions</h1>
       </div>
      </div> <!-- col wrap -->
    </div> <!-- col -->
        <div class="col-12">
      <div class="colWrap">
       <div class="imgWrap" style="position:absolute; width:100%;">
         <img src="photos/Trale_Bryson1.jpg" class="img" style="height:100%;">
       </div>
       <div class="portfolioTitle">
        <h1>Personal Shoots</h1>
       </div>
      </div> <!-- col wrap -->
    </div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container-->
